p {
    word-break: break-all;
    white-space: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.noselect {
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select:none;
    -khtml-user-select: none;
}

.profile {
    position: relative;
    background-image: url("../assets/images/header-background.jpg");
    margin-top: 51px;
    height: 300px;
}

.profile-gradient {
    position: absolute;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.profile-picture {
    position: relative;
    background: url("../assets/images/profile-picture.jpg") no-repeat center center;
    height: 156px;
    width: 156px;
    background-size: 100% 100%;
    margin: 24px auto 36px;
    clip-path: circle(78px at center);
}

.profile-texts {
    margin: -36px auto;
    height: 120px;
    width: 340px;
}

.name {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    line-height: 56px;
    color: #f1f1f1;
    text-align: center;
    font-weight: 600;
}

.other-infos {
    font-family: "Open Sans", sans-serif;
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #bbbbbb;
    text-align: center;
}

.contact {
    margin: 16px auto;
    width: 50%;
    min-width: 320px;
    max-width: 800px;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 56px;
    color: #f1f1f1;
    text-align: center;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #bbbbbb;
    text-align: left;
    margin: 0   ;
    padding: 0;
}

.skill {
    color: #03A0E7;
    font-family: "Consolas", monospace;
    border: solid 1px;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    margin-right: 6px;
    line-height: 28px;
    white-space: nowrap;
}

.taste {
    color: #16bb66;
    font-family: "Consolas", monospace;
    border: solid 1px;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    margin-right: 6px;
    line-height: 28px;
    white-space: nowrap;
}


.horizontal-list {
    list-style: none;
    text-align: center;
    line-height: 24px;
}

.horizontal-list li {
    display: inline;
}

.softwares {
    margin: 16px auto;
    width: 50%;
    text-align: center;
    min-width: 320px;
    max-width: 620px;
}

.custom-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.custom-list li {
    position: relative;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    line-height: 36px;
    padding-left: 42px;
    margin: 0 20px 16px;
    width: 118px;
    color: #bbbbbb;
}

.li-software:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.li-unity:before {
    background-image: url("../assets/icons/ic_unity.png");
}

.li-unreal:before {
    background-image: url("../assets/icons/ic_unreal.png");
}

.li-rider:before {
    background-image: url("../assets/icons/ic_rider.png");
}

.li-idea:before {
    background-image: url("../assets/icons/ic_idea.png");
}

.li-visualstudio:before {
    background-image: url("../assets/icons/ic_visualstudio.png");
}

.li-maya:before {
    background-image: url("../assets/icons/ic_maya.png");
}

.li-photoshop:before {
    background-image: url("../assets/icons/ic_photoshop.png");
}

.li-substancepainter:before {
    background-image: url("../assets/icons/ic_substancepainter.png");
}

.li-jira:before {
    background-image: url("../assets/icons/ic_jira.png");
}

.li-trello:before {
    background-image: url("../assets/icons/ic_trello.png");
}